* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 90%;
  margin: 0 auto;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 50px;
}
nav .nav ul a {
  text-decoration: none;
  color: black;
}
nav .nav ul a:hover {
  background-color: blue;
  color: white;
}

.btn-log {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.btn-sign {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.name {
  margin-left: 13%;
  margin-bottom: 10px;
  background-image: url("../images/Pasted image.png");
  background-size: cover;
  font-size: 20px;
}