* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul li {
  list-style: none;
  color: #000;
  gap: 30px;
}

nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  font-family: "Roboto", sans-serif;
}
nav .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 50px;
}
nav .nav ul a {
  text-decoration: none;
  color: black;
}
nav .nav ul a:hover {
  background-color: blue;
  color: white;
}

.btn-log {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
}
.btn-log:hover {
  background-color: blue;
}

.btn-sign {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
}
.btn-sign:hover {
  background-color: blue;
}

@media screen and (max-width: 500px) {
  nav .nav .nav-center {
    display: none;
  }
  nav .nav .nav-right .fa-bars {
    display: block;
  }
}
.hero {
  margin-bottom: 10px;
  background-image: url("../images/Pasted image.png");
  height: 90vh;
  background-size: cover;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#e {
  color: blue;
}

.name {
  text-align: center;
}

.us {
  text-align: center;
  background-color: #f4f7fb;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
}

#o {
  color: rgb(76, 76, 235);
}

.container {
  font-family: "Roboto", sans-serif;
}

#m {
  margin-top: 2%;
  margin-left: 20%;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

#y {
  color: rgb(68, 68, 218);
  text-align: center;
}

.mages {
  margin-right: 100px;
}

.our {
  margin-right: 30%;
  margin-bottom: 10%;
}

.quote {
  margin-right: 150%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Roboto", sans-serif;
}

.quick {
  color: blue;
}

.tact {
  color: rgb(49, 49, 235);
}

.container {
  text-align: center;
  margin-bottom: 2%;
}

.contact {
  background-image: url("../images/Pasted image (5).png");
  background-size: cover;
  height: 90vh;
  font-family: "Roboto", sans-serif;
}

.name {
  margin-top: 5%;
}

.btn {
  padding: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin-top: 2%;
  width: 150px;
  border: none;
}

.input {
  padding: 10px;
  outline: none;
  width: 350px;
  border-radius: 15px;
  border: none;
}

.names {
  border: 5px solid blue;
  border-width: thin;
}

.login {
  background-image: url("../images/pexels-rdne-7841821.jpg");
  background-size: cover;
  height: 80vh;
}

.in {
  margin-top: 5%;
}

.inputs {
  padding: 10px;
  outline: none;
  width: 350px;
  border-radius: 15px;
  border: none;
}

.to {
  color: blue;
}

#e {
  color: white;
}

.have {
  text-align: center;
  color: blue;
}

.btns {
  padding: 20px;
  border-radius: 10px 30px;
  margin-top: 2%;
}

.signup {
  background-image: url("../images/pexels-jakubzerdzicki-27641070.jpg");
  background-size: cover;
  height: 90vh;
  font-family: "Roboto", sans-serif;
}

.fulls {
  padding: 10px;
  outline: none;
  width: 350px;
  border-radius: 15px;
  border: none;
}

.full {
  margin-top: 5%;
}

#f {
  margin-top: 2%;
  color: white;
}

#b {
  color: rgb(49, 49, 179);
}

.bel {
  color: rgb(49, 49, 179);
}

.sign {
  margin-top: 2%;
}

.btn-signs {
  padding: 20px;
  color: white;
  border-radius: 10px 30px;
}

#n {
  color: blue;
}