* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  font-family: "Roboto", sans-serif;
}
nav .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 50px;
}
nav .nav ul a {
  text-decoration: none;
  color: black;
}
nav .nav ul a:hover {
  background-color: blue;
  color: white;
}

.btn-log {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.btn-sign {
  border-radius: 10px 30px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.hero {
  margin-bottom: 10px;
  background-image: url("../images/Pasted image.png");
  height: 90vh;
  background-size: cover;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#e {
  color: rgb(58, 58, 235);
}

.name {
  text-align: center;
}

.us {
  text-align: center;
  background-color: #f4f7fb;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
}

#o {
  color: rgb(76, 76, 235);
}

.container {
  font-family: "Roboto", sans-serif;
}

#m {
  margin-top: 2%;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

#y {
  color: rgb(68, 68, 218);
  text-align: center;
}

.mages {
  margin-right: 100px;
}

.our {
  margin-right: 30%;
  margin-bottom: 10%;
}

.footer {
  padding: 25px;
}

ul {
  list-style: none;
}

.tact {
  color: rgb(49, 49, 235);
}

.container {
  text-align: center;
  margin-bottom: 2%;
}

.contact {
  background-image: url("../images/Pasted image (5).png");
  background-size: cover;
  height: 90vh;
  font-family: "Roboto", sans-serif;
}

.name {
  margin-top: 5%;
}

.btn {
  padding: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

.input {
  padding: 10px;
}