@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as  *;

.about-us{
    display: flex;
    gap:30px;
    margin-left: 20%;
    background-color: white;
}
.about{
    margin-top: 30px;
    font-size: larger;
}
.k{
    font-size: x-large;
}
.m{
    color: blue;
}
.body{
    background-color:white;
}