@use "./variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
ul li{
    list-style: none;
    color: $black;
    gap: 30px;
}
a{
   text-decoration: none; 
   color: black;
}