<<<<<<< HEAD
@use "./variables" as *;

=======
@use "./variables"as *;
>>>>>>> b1e9e43 (changed apliication form)
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
}
.body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
ul li{
    list-style: none;
    color: $black;
    gap: 30px;
}
a{
   text-decoration: none; 
=======
>>>>>>> b1e9e43 (changed apliication form)
}