@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

#m{
    margin-top: 2%;
    margin-left: 20%
}
.pages{
    @include flex(center,center);
}
#y{
    color: rgb(68, 68, 218);
    text-align: center;
}
.mages{
    margin-right: 100px;
}
.our{
    margin-right: 30%;
    margin-bottom: 10%;
}
.quote{
    margin-right: 150%;
}